In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
pip install openpyxl

Note: you may need to restart the kernel to use updated packages.Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/250.9 kB 131.3 kB/s eta 0:00:02
   ---- ---------------------------------- 30.7/250.9 kB 131.3 kB/s eta 0:00:02
   ---- ---------------------------------- 30.7/250.9 kB 131.3 kB/s eta 0:00:02
   ------ --------------------------------- 41.0/250.9 kB 93.7 kB/s eta 0:00:03
   ------ --------------------------------- 41.0/250.9 kB 93.7 kB/s eta 0:00:03
   ------ --------------------------------- 41.0/250.9 kB 93.7 kB/s eta 0:00:03
   ------ --------------------------------- 41.0/250.9 kB 93.7 kB/s eta 0:00:03
   ------ --------------------------------- 41.0/250.9 kB 93.7 kB/s eta 0:00:03
   ------------ -------------------------- 81.9/250.9 kB 135.0 kB/s eta 0:00:02
   ------------ -------------------------- 81.9/250.9 kB 135.0 kB/s eta 0:00:02
   ------------ -------------------------- 81.9/250.9 kB 135.0 kB/s eta 0:00:02
   -------------- ------------------------ 92.2/250.9 kB 124.9 kB/s eta 0:00:02
   -------------- ------------------------ 92.2/250.9 kB 124.9 kB/s eta 0:00:02
   -------------- ------------------------ 92.2/250.9 kB 124.9 kB/s eta 0:00:02
   -------------- ------------------------ 92.2/250.9 kB 124.9 kB/s eta 0:00:02
   ----------------- -------------------- 112.6/250.9 kB 119.2 kB/s eta 0:00:02
   ----------------- -------------------- 112.6/250.9 kB 119.2 kB/s eta 0:00:02
   ----------------- -------------------- 112.6/250.9 kB 119.2 kB/s eta 0:00:02
   ----------------- -------------------- 112.6/250.9 kB 119.2 kB/s eta 0:00:02
   ----------------- -------------------- 112.6/250.9 kB 119.2 kB/s eta 0:00:02
   ----------------- -------------------- 112.6/250.9 kB 119.2 kB/s eta 0:00:02
   ------------------- ------------------- 122.9/250.9 kB 96.2 kB/s eta 0:00:02
   ------------------- ------------------- 122.9/250.9 kB 96.2 kB/s eta 0:00:02
   ------------------- ------------------- 122.9/250.9 kB 96.2 kB/s eta 0:00:02
   ------------------- ------------------- 122.9/250.9 kB 96.2 kB/s eta 0:00:02
   ------------------------ ------------- 163.8/250.9 kB 113.0 kB/s eta 0:00:01
   ------------------------ ------------- 163.8/250.9 kB 113.0 kB/s eta 0:00:01
   ------------------------ ------------- 163.8/250.9 kB 113.0 kB/s eta 0:00:01
   -------------------------- ----------- 174.1/250.9 kB 109.2 kB/s eta 0:00:01
   -------------------------- ----------- 174.1/250.9 kB 109.2 kB/s eta 0:00:01
   -------------------------- ----------- 174.1/250.9 kB 109.2 kB/s eta 0:00:01
   -------------------------- ----------- 174.1/250.9 kB 109.2 kB/s eta 0:00:01
   ----------------------------- -------- 194.6/250.9 kB 110.3 kB/s eta 0:00:01
   ----------------------------- -------- 194.6/250.9 kB 110.3 kB/s eta 0:00:01
   ----------------------------- -------- 194.6/250.9 kB 110.3 kB/s eta 0:00:01
   ----------------------------- -------- 194.6/250.9 kB 110.3 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.9 kB 105.6 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.9 kB 105.6 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.9 kB 105.6 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.9 kB 105.6 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.9 kB 105.6 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.9 kB 105.6 kB/s eta 0:00:01
   ----------------------------------- --- 225.3/250.9 kB 99.7 kB/s eta 0:00:01
   ----------------------------------- --- 225.3/250.9 kB 99.7 kB/s eta 0:00:01
   ----------------------------------- --- 225.3/250.9 kB 99.7 kB/s eta 0:00:01
   ----------------------------------- --- 225.3/250.9 kB 99.7 kB/s eta 0:00:01
   -------------------------------------  245.8/250.9 kB 101.2 kB/s eta 0:00:01
   -------------------------------------  245.8/250.9 kB 101.2 kB/s eta 0:00:01
   -------------------------------------  245.8/250.9 kB 101.2 kB/s eta 0:00:01
   -------------------------------------  245.8/250.9 kB 101.2 kB/s eta 0:00:01
   --------------------------------------- 250.9/250.9 kB 96.3 kB/s eta 0:00:00
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

DEPRECATION: Loading egg at c:\program files\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330

[notice] A new release of pip is available: 23.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
retail_df = pd.read_excel("Online Retail.xlsx")

In [7]:
print("The shape of our dataset is:", retail_df.shape)

The shape of our dataset is: (541909, 8)

In [8]:
retail_df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom

In [9]:
retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [11]:
retail_df['InvoiceNo'].unique()

array([536365, 536366, 536367, ..., 581585, 581586, 581587], dtype=object)

In [14]:
retail_df['CustomerID'].unique()

array([17850., 13047., 12583., ..., 13298., 14569., 12713.])

In [15]:
print("Number of transactions", retail_df['InvoiceNo'].nunique())
print("Number of products: ", retail_df['StockCode'].nunique())
print("Number of customers: ", retail_df['CustomerID'].nunique())
print("Percentage of customers NA: ", round(retail_df['CustomerID'].isnull().sum()*100/len(retail_df)))
print("Number of Countries: ", retail_df['Country'].nunique())

Number of transactions 25900
Number of products:  4070
Number of customers:  4372
Percentage of customers NA:  25
Number of Countries:  38

In [16]:
retail_df.describe(include = 'all')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,541909.0,541909,540455,541909.000000,541909,541909.000000,406829.000000,541909
unique,25900.0,4070,4223,NaN,NaN,NaN,NaN,38
top,573585.0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,NaN,NaN,NaN,United Kingdom
freq,1114.0,2313,2369,NaN,NaN,NaN,NaN,495478
mean,NaN,NaN,NaN,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570,NaN
min,NaN,NaN,NaN,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000,NaN
25%,NaN,NaN,NaN,1.000000,2011-03-28 11:34:00,1.250000,13953.000000,NaN
50%,NaN,NaN,NaN,3.000000,2011-07-19 17:17:00,2.080000,15152.000000,NaN
75%,NaN,NaN,NaN,10.000000,2011-10-19 11:27:00,4.130000,16791.000000,NaN
max,NaN,NaN,NaN,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000,NaN
std,NaN,NaN,NaN,218.081158,NaN,96.759853,1713.600303,NaN

In [ ]:
#create a dataframe for canceled transactions